.navbar{
    box-sizing: border-box;
    padding: 0 !important;
    margin: 0 !important;
} 
.scroll{
    display: none ;
    padding: 15px;
    font-size: 18px;
    background-color:blue;
    border-radius: 10px;
    color: white;    
    font-weight: bold;
    position: fixed;
    right: 15px;
    bottom:10px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}